<%= link_to 'New recipe', new_recipe_path , class:("newRecipe")%>
<div class="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <div class="recipeactions">
        <h2 class="recipeName"> <%= recipe.name %> </h2>
        <% if can? :destroy, recipe%>
          <%= button_to "Remove", recipe, method: :delete , class:('removeRecipe'), remote: true %>
        <% end %>
      </div>
      <%= link_to recipe_path(recipe), class:('recipeDetails') do %>
        <p class="recipeDescription"> <%= recipe.description%></p>
      <% end %>
    </div>
    
  <% end %>
</div>  