<h1>Foods</h1>
<div class="container text-center">
  <div class=" text-end">
    <%= link_to "Add New Food", new_food_path, class: "btn btn-outline-secondary" %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Unit</th>
      <th class="text-center">Price</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.measurement_unit %></td>
        <td><%= f.price %></td>
        <td>
          <%= link_to "Delete", f, data: { turbo_method: :delete } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
