<%= link_to 'Add food', new_food_path(inventory: @inventory) , class:("newRecipe") %>

<table class="recipeFoods">
  <tr>
    <th>Food</th>
    <th>Measurement_unit</th>
    <th>Unit price</th>
    <th>Actions</th>
    </tr>
    <% @foods.each do |food| %>
     <tr>
       <td> <%= food.name %> </td>
       <td> <%= food.measurement_unit %> </td>
       <td> <%= food.price %></td>
       <td>
       <%= button_to "Remove", food, method: :delete , class:('removeRecipe'), remote: true %>
       
       </td>
     </tr>
    <% end %>
  
</table>
